<div class="battleLogDiv">
  <p *ngIf="pokemonWinner !== undefined" class="logWinner">{{pokemonWinner.name}} won the duel</p>
  <div *ngFor="let logFight of logsFight">
    <div class="log">
      <p class="logDate">{{logFight.date | date:'HH:mm:ss'}}</p>
      <p class="logPokemonName" [appPokemonNameColor]="logFight.pokemonAttack.type">{{logFight.pokemonAttack.name}}</p>
      used {{logFight.attack.name}} against
      <p class="logPokemonName" [appPokemonNameColor]="logFight.pokemonTarget.type">{{logFight.pokemonTarget.name}}</p>
      and did
      <p class="logAttackDamage">{{logFight.attack.value ? (logFight.attack.value | number:'3.0') : '0'}} damages</p>
    </div>
  </div>
</div>
