.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 5px;
}

@media(max-width: 1200px){
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 600px){
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.pokemonCard{
  transition-duration: 0.5s;
  text-align: center;
  border: 0.2em solid red;
  border-radius: 10px;
}

.active-selected-pokemon{
  background-color: #ffff5b;
}

.pokemonCard .img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}
