<div [ngClass]="{'PokemonLeft': position === 'left', 'PokemonRight': position === 'right'}">
  <img src="https://www.smogon.com/dex/media/sprites/xy/squirtle.gif" alt="Pikachu"/>
</div>
<div [ngClass]="{'PokemonInfosLeft': position === 'left', 'PokemonInfosRight': position === 'right'}">
  <p class="PokemonName">{{pokemon?.name}}</p>
  <div class="PokemonHealthBar">
    <div
      [ngClass]="{'PokemonLeftHealthLeftBar': position === 'left', 'PokemonRightHealthLeftBar': position === 'right',
                  'PokemonHealthLeftBarNormal': pokemon === undefined || (pokemon.health/pokemon.maxHealth)*100 > 50,
                  'PokemonHealthLeftBarLow': pokemon !== undefined && (pokemon.health/pokemon.maxHealth)*100 <= 50 && (pokemon.health/pokemon.maxHealth)*100 > 25,
                  'PokemonHealthLeftBarCritical': pokemon !== undefined && (pokemon.health/pokemon.maxHealth)*100 <= 25}"
      [ngStyle]="{'width': pokemon !== undefined ? 'calc(' + (pokemon.health/pokemon.maxHealth)*100 + '%)': 100}"
    ></div>
  </div>
  <p class="PokemonHealth">{{pokemon?.health}} / {{pokemon?.maxHealth}}</p>
</div>
