.PokemonLeft, .PokemonRight{
  position: absolute;
}
.PokemonLeft{
  bottom: 50px;
  left: 100px;
}
.PokemonRight{
  top: 50px;
  right: 100px;
}

.PokemonInfosLeft, .PokemonInfosRight{
  position: absolute;
  background-color: white;
  border: black solid 1px;
  border-radius: 5px;
  padding: 1em;
  min-width: 200px;
}
.PokemonInfosLeft{
  text-align: left;
  bottom: 50px;
  left: 200px;
}
.PokemonInfosRight{
  text-align: right;
  top: 50px;
  right: 200px;
}

.PokemonInfosRight .PokemonHealth {
  display: none;
}

.PokemonHealthBar {
  border: black solid 1px;
  height: 1em;
  width: 100%;
}

.PokemonLeftHealthLeftBar, .PokemonRightHealthLeftBar{
  height: 100%;
}
.PokemonLeftHealthLeftBar {
  background-color: green;
  width: 100%;
}
.PokemonRightHealthLeftBar {
  background-color: green;
  width: 100%;
}
