<div [ngClass]="{'PokemonLeft': position === 'left', 'PokemonRight': position === 'right'}">
  <img src="https://www.smogon.com/dex/media/sprites/xy/arceus.gif" alt="Pikachu"/>
</div>
<div [ngClass]="{'PokemonInfosLeft': position === 'left', 'PokemonInfosRight': position === 'right'}">
  <p class="PokemonName">{{pokemon.name}}</p>
  <div class="PokemonHealthBar">
    <div [ngClass]="{'PokemonLeftHealthLeftBar': position === 'left', 'PokemonRightHealthLeftBar': position === 'right'}"></div>
  </div>
  <p class="PokemonHealth">{{pokemon.health}} / {{pokemon.maxHealth}}</p>
</div>
